<div class="navbar opaque-navbar opaque navbar-inverse navbar-fixed-top" ng-controller="google.signin.controller">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">SriVaikhanasa.Net</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <google-plus-signin clientid="878822239995-8cab6qdvv11m2dhnnc6tcr4l7558tbki"></google-plus-signin>
                </li>
            </ul>
        </div>
    </div>
</div>