<div class="navbar opaque-navbar opaque navbar-inverse navbar-fixed-top" ng-controller="google.signin.controller">
    <google-plus-signin clientid="878822239995-8cab6qdvv11m2dhnnc6tcr4l7558tbki" autorender="false" customtargetid="google-signin-button"></google-plus-signin>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">SriVaikhanasa.Net</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">                
                <li ng-show="isSignedIn">
                    <a href="#">Hello, <span ng-bind="user.name"></span>
                        <img src="{{user.photo}}" class="img-rounded" alt="{{user.name}}" width="20" height="20">
                    </a>
                </li>
                <li ng-show="isSignedIn">
                    <a href="#" ng-click="signOut()">Sign Out</a>
                </li>
                <li ng-hide="isSignedIn">
                    <a href="#" id="google-signin-button">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</div>