<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="container contactUsPanel">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="h1">Contact us</h1>
            <p>If you have any queries or feedback then please feel free to drop us a line.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form ng-submit="submit()" ng-controller="contactUsCtrl">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" ng-model="name" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" ng-model="email" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <select id="subject" name="subject" class="form-control" required="required" ng-model="subject">
                                    <option value="Compliment">Compliment</option>
                                    <option value="Suggestion">Suggestion</option>
                                    <option value="Complaint">Complaint</option>
                                    <option value="Product Support">Product Support</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message" ng-model="message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="g-recaptcha" data-sitekey="6LcXhicTAAAAAP7k8wOMP841oVA3AMef8qegKWVE" on-success="setReCaptchaResponse(response)"></div>
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>