<!-- footer -->
<footer role="contentinfo" class="site-footer" id="colophon">
    <div class="container">
        <div class="row">
            <div id="accordion" class="collapse-footer">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-3 col-sm-6">
                            </div>
                            <div class="col-lg-3  col-sm-6">
                                <h5 class="title"><span>Administrator</span></h5>
                                <p>Acharya Raja Sekhar Brundhavanam<br/> Email: <a href="mailto:admin@srivaikhanasa.net" target="_top">admin@srivaikhanasa.net</a><br/>                                    Mobile: +91 9790735583
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row copyright-img">
                <div class="col-lg-12 col-sm-12 text-center" id="footertext"> Copyright © 2016 Team Sri Vaikhanasa Network </div>
            </div>
        </div>
    </div>
    <!-- /Copyright -->
</footer>
<!-- /footer -->